{% extends "master2.html.twig" %}

{% block title %}imaGO - Photos List from Album{% endblock %}
{% block headExtra %}
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
        $(document).ready(function () {
            $('ul').sortable({
                axis: 'y',
                stop: function (event, ui) {
                    var data = $(this).sortable('serialize');
                    $('span').text(data);
                    /*$.ajax({
                     data: oData,
                     type: 'POST',
                     url: '/your/url/here'
                     });*/
                }
            });
        });
        lightbox.option({
            'alwaysShowNavOnTouchDevices': true
        });
    </script>
{% endblock %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/photos">Photos</a></li>
            <li class="active"><a href="/albums">Albums</a></li>
            <li><a href="/albums/add">Add Album</a></li>
            <li><a href="/profile"><b>{{ imagouser.name }}</b></a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Album: {{album.title}}</h1>
                            <h4 class="text-center">Date: {{album.date}}</h4>
                        </div>
                    </div>
                    <br>
                    <h3>Your photo list:</h3>
                    <br>
                    <div class="row" id="sortable">
                        {% for p in photoIdList %}
                            <div  class="col-xs-12 col-sm-6 col-lg-3">
                                <div id="container">
                                    <div id="item-{{loop.index}}">
                                        <a href="/photoview/{{p.photoID}}" data-lightbox="photo" data-title="You can <a href='/photoview/{{p.photoID}}/download'>Download it</a> or <a href='/albums/{{album.id}}/removephoto/{{p.photoID}}'>Remove it</a> from this album."><img src="/photoview/{{p.photoID}}" width="250"></a>
                                    </div>
                                </div>  
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}

