{% extends "master2.html.twig" %}

{% block title %}Photo Removed from Album successfully{% endblock title %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/albums" />
{% endblock headExtra %}

{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/profile"><b>{{ imagouser.name }} | Profile</b></a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/photos/add">Add Photo</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/albums/add">Add Album</a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}

{% block container %}
    <br><br><br><br><br><br>
    <div class="container">
        <div class="center-form panel">
            <div class="panel-body">
                <h4 class="text-center"><i class="ion-log-in"></i>Photo Removed successfully from album : {{album.title}}</h4>
                <br/><br/>
                <div class="col-md-3">
                    <img src="/photoview/{{photo.id}}" width="250" class="img-responsive">
                </div>
                <br/><br/>
                <p class="text-center text-muted">
                    <small>Click to <a href="/albums/{{album.id}}/removephoto">remove</a> more photos in your album {{album.title}}<br>
                        or come back to see your <a href="/albums">albums</a>. You will be redirected in 5 seconds.</small>
                </p>
            </div>
        </div>
    </div>
{% endblock container %}