{% extends "master2.html.twig" %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/profile"><b>{{ imagouser.name }} | Profile</b></a></li>
            <li><a href="/photos/add">Add Photo</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/albums/add">Add Album</a></li>
            <li><a href="/signout">Sign Out</a></li>
        </ul>
    </div>
{% endblock navbarSign %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">My Photos</h1>
                        </div>
                    </div>
                    <div class="row">
                        {% for p in photoIdList %}
                            <div  class="col-xs-12 col-sm-6 col-lg-3">
                                <div id="container">
                                    <img src="/photoview/{{p.id}}" width="250" class="image">
                                    <div class="left">
                                        <a href="/photoview/{{p.id}}/download"><span class="glyphicon glyphicon-download-alt download" aria-hidden="true"></span></a>
                                    </div>
                                    <div class="middle">
                                        <a href="/photoview/{{p.id}}"><span class="glyphicon glyphicon-eye-open enlarge" aria-hidden="true"></span></a>
                                    </div>
                                    <div class="right">
                                        <a href="/photoview/{{p.id}}/delete"><span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></a>
                                    </div>
                                </div>

                                <!-- <a href="/photoview/{{p.id}}"><img src="/photoview/{{p.id}}" width="250" class="img-responsive"></a><br> 
                                <a href="/photoview/{{p.id}}/download"><input class="download" type="button" value="Download"></a>
                                <a href="/photoview/{{p.id}}/delete"><input class="delete" type="button" value="Delete"></a>
                                -->
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}

