{% extends "master.html.twig" %}
{% block navbarSign %}
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/profile"><b>{{ imagouser.name }} | Profile</b></a>
            </li>
            <li>
                <a href="/addphoto">Add Photo</a>
            </li>
            <li>
                <a href="/deletephoto">Delete Photo</a>
            </li>
            <li>
                <a href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
{% endblock navbarSign %}
{% block content %}

    <div class="row">

        <div class="col-md-12">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">My Photos</h1>
                        </div>
                    </div>
                    {% for p in photoList %}
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#"><img src="/{{p.imagePath}}" width="40" class="img-responsive"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="/{{p.imagePath}}" width="40" class="img-responsive"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="/{{p.imagePath}}" width="40" class="img-responsive"></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="/{{p.imagePath}}" width="40" class="img-responsive"></a>
                            </div>
                        </div>

                    {% endfor %}    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}